* {
  /* Font-family: Helvetica Neue, Helvetica, Arial, sans-serif;  */
  font-family: 'Roboto', sans-serif;
}

.fixed-body {
  position: fixed !important
}

#root {
  height: 100vh;
  min-width: 100vw;
}

.drag-drop {
  height: 100% !important;
}

.drag-drop > * > * {
  color: white !important;
}